$big-image-polygon: polygon(
  97.586% 0.015%,
  60.92% 0.015%,
  60.92% 0.015%,
  60.53% 0.064%,
  60.16% 0.204%,
  59.815% 0.429%,
  59.5% 0.73%,
  59.22% 1.1%,
  58.979% 1.532%,
  58.784% 2.017%,
  58.638% 2.548%,
  58.547% 3.118%,
  58.515% 3.718%,
  58.515% 39.818%,
  58.515% 39.818%,
  58.484% 40.418%,
  58.393% 40.988%,
  58.247% 41.519%,
  58.051% 42.004%,
  57.811% 42.436%,
  57.531% 42.806%,
  57.216% 43.107%,
  56.871% 43.332%,
  56.501% 43.472%,
  56.111% 43.521%,
  2.414% 43.521%,
  2.414% 43.521%,
  2.025% 43.569%,
  1.655% 43.709%,
  1.31% 43.934%,
  0.995% 44.235%,
  0.715% 44.605%,
  0.474% 45.037%,
  0.279% 45.522%,
  0.133% 46.053%,
  0.042% 46.623%,
  0.01% 47.223%,
  0.01% 96.282%,
  0.01% 96.282%,
  0.042% 96.882%,
  0.133% 97.452%,
  0.279% 97.983%,
  0.474% 98.468%,
  0.715% 98.9%,
  0.995% 99.27%,
  1.31% 99.571%,
  1.655% 99.796%,
  2.025% 99.936%,
  2.414% 99.985%,
  68.333% 99.985%,
  68.333% 99.985%,
  68.723% 99.936%,
  69.093% 99.796%,
  69.438% 99.571%,
  69.753% 99.27%,
  70.033% 98.9%,
  70.273% 98.468%,
  70.469% 97.983%,
  70.615% 97.452%,
  70.706% 96.882%,
  70.737% 96.282%,
  70.737% 62.65%,
  70.737% 62.65%,
  70.769% 62.05%,
  70.86% 61.481%,
  71.006% 60.949%,
  71.201% 60.464%,
  71.442% 60.033%,
  71.722% 59.663%,
  72.037% 59.361%,
  72.382% 59.137%,
  72.752% 58.996%,
  73.142% 58.948%,
  97.586% 58.948%,
  97.586% 58.948%,
  97.975% 58.899%,
  98.345% 58.759%,
  98.69% 58.534%,
  99.005% 58.233%,
  99.285% 57.863%,
  99.526% 57.431%,
  99.721% 56.946%,
  99.867% 56.415%,
  99.958% 55.846%,
  99.99% 55.245%,
  99.99% 3.718%,
  99.99% 3.718%,
  99.959% 3.117%,
  99.867% 2.548%,
  99.722% 2.017%,
  99.526% 1.531%,
  99.286% 1.1%,
  99.006% 0.73%,
  98.691% 0.429%,
  98.346% 0.204%,
  97.976% 0.064%,
  97.586% 0.015%
);
$big-image-mobile-polygon: polygon(
  36.218% 64.698%,
  36.218% 64.698%,
  35.235% 64.98%,
  34.281% 65.472%,
  33.382% 66.156%,
  32.562% 67.011%,
  31.847% 68.019%,
  31.262% 69.159%,
  30.831% 70.413%,
  30.581% 71.76%,
  30.536% 73.181%,
  30.721% 74.657%,
  30.721% 92.614%,
  30.721% 92.614%,
  30.659% 93.628%,
  30.439% 94.635%,
  30.081% 95.613%,
  29.602% 96.544%,
  29.021% 97.407%,
  28.356% 98.182%,
  27.626% 98.849%,
  26.848% 99.388%,
  26.042% 99.778%,
  25.225% 100%,
  5.498% 100%,
  5.498% 100%,
  4.743% 99.898%,
  3.99% 99.592%,
  3.257% 99.107%,
  2.559% 98.466%,
  1.912% 97.69%,
  1.332% 96.804%,
  0.835% 95.83%,
  0.437% 94.792%,
  0.154% 93.712%,
  0.002% 92.614%,
  -0% 7.386%,
  -0% 7.386%,
  0.18% 6.419%,
  0.447% 5.413%,
  0.8% 4.403%,
  1.237% 3.422%,
  1.755% 2.503%,
  2.352% 1.678%,
  3.027% 0.983%,
  3.778% 0.449%,
  4.602% 0.11%,
  5.498% 0%,
  94.502% 0%,
  94.502% 0%,
  95.319% 0.233%,
  96.127% 0.63%,
  96.908% 1.171%,
  97.642% 1.837%,
  98.311% 2.609%,
  98.894% 3.468%,
  99.374% 4.395%,
  99.731% 5.369%,
  99.945% 6.373%,
  99.998% 7.386%,
  100% 57.312%,
  100% 57.312%,
  99.822% 58.338%,
  99.539% 59.384%,
  99.159% 60.417%,
  98.691% 61.407%,
  98.142% 62.323%,
  97.523% 63.133%,
  96.84% 63.807%,
  96.104% 64.313%,
  95.321% 64.62%,
  94.502% 64.698%,
  36.218% 64.698%
);
$mid-image-polygon: polygon(
  96.587% 0%,
  44.761% 0%,
  44.761% 0%,
  44.21% 0%,
  43.687% 0.271%,
  43.199% 0.57%,
  42.754% 0.97%,
  42.358% 1.461%,
  42.018% 2.034%,
  41.742% 2.678%,
  41.536% 3.383%,
  41.407% 4.14%,
  41.362% 4.937%,
  41.362% 45.494%,
  41.362% 45.494%,
  41.318% 46.291%,
  41.189% 47.047%,
  40.983% 47.752%,
  40.706% 48.396%,
  40.366% 48.969%,
  39.97% 49.461%,
  39.525% 49.861%,
  39.037% 50.159%,
  38.515% 50.345%,
  37.964% 50.41%,
  3.413% 50.41%,
  3.413% 50.41%,
  2.861% 50.474%,
  2.338% 50.66%,
  1.851% 50.958%,
  1.406% 51.358%,
  1.01% 51.85%,
  0.67% 52.422%,
  0.394% 53.067%,
  0.187% 53.772%,
  0.059% 54.528%,
  0.014% 55.326%,
  0.014% 95.063%,
  0.014% 95.063%,
  0.059% 95.86%,
  0.188% 96.617%,
  0.394% 97.322%,
  0.67% 97.966%,
  1.01% 98.539%,
  1.406% 100%,
  1.851% 100%,
  2.339% 100%,
  2.862% 100%,
  3.413% 100%,
  96.587% 100%,
  96.587% 100%,
  97.138% 100%,
  97.661% 100%,
  98.149% 100%,
  98.594% 100%,
  98.99% 98.539%,
  100% 97.966%,
  100%97.322%,
  100% 96.617%,
  100% 95.86%,
  100% 95.063%,
  100% 4.937%,
  100% 4.937%,
  100% 4.139%,
  100% 3.383%,
  100% 2.677%,
  99.33% 2.033%,
  98.99% 1.46%,
  98.594% 0.969%,
  98.149% 0.569%,
  97.662% 0.271%,
  97.139% 0.085%,
  96.587% 0.02%
);
$card-corner-polygon: polygon(
  0% 0%,
  0% 0%,
  3.717% 0.543%,
  7.114% 1.612%,
  10.167% 3.131%,
  12.854% 5.025%,
  15.152% 7.217%,
  17.038% 9.632%,
  18.488% 12.194%,
  19.481% 14.826%,
  19.992% 17.454%,
  20% 20%,
  20% 54%,
  20% 54%,
  20% 58.193%,
  20.858% 62.159%,
  22.468% 65.852%,
  24.726% 69.222%,
  27.527% 72.223%,
  30.765% 74.806%,
  34.337% 76.923%,
  38.137% 78.526%,
  42.059% 79.568%,
  46% 80%,
  80% 80%,
  80% 80%,
  83.896% 80.523%,
  87.406% 81.582%,
  90.519% 83.1%,
  93.219% 84.998%,
  95.493% 87.198%,
  97.328% 89.623%,
  98.71% 92.194%,
  99.625% 94.832%,
  100.06% 97.46%,
  100% 100%,
  0% 100%,
  0% 0%
);
