@use "sass:math";

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 864;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

:root {
  --body-background-color: #333;
}

@import "_reset.scss";
@import "_fonts.scss";
@import "_functions.scss";
@import "_polygons.scss";

body {
  background-color: var(--body-background-color);
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: toRem(12);
}

[class*="__container"] {
  max-width: #{$containerWidth}px;
  margin: 0 auto;
  padding: toRem(15);
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.page {
  flex-grow: 1;
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: toRem(50);
    align-items: center;
  }
}
.demonical-block {
  display: grid;
  gap: toRem(12);
  aspect-ratio: 864/353;
  grid-template-columns: 31.34% 7.04% 14.98% 23.13% 14.98%;
  grid-template-rows: 19.26% 14.16% 13.32% 34.56%;
  @media (max-width: toEm(700)) {
    grid-template-columns: 28% 60.8%;
    grid-template-rows: 33.63% 36.73% 17.7%;
    aspect-ratio: 375/452;
  }
  justify-content: center;
  &__stats {
    @media (max-width: toEm(700)) {
      grid-row: 1;
      grid-column: 1 / span 2;
    }
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 100%;
    height: 100%;
  }

  &__big-image {
    grid-column: 1 / span 3;
    grid-row: 1 / span 4;
    width: 100%;
    height: 100%;
    justify-self: self-start;
    background-color: #ff5bec;
    @media (max-width: toEm(700)) {
      grid-column: 1 / span 2;
      grid-row: 2 / span 2;
      width: 100%;
      clip-path: $big-image-mobile-polygon;
    }
    clip-path: $big-image-polygon;
  }

  &__mid-image {
    grid-column: 3 / span 2;
    grid-row: 2 / span 3;
    align-self: self-end;
    justify-self: self-end;
    width: 100%;
    height: 100%;
    background-color: #5bd9ff;
    @media (max-width: toEm(700)) {
      display: none;
    }
    clip-path: $mid-image-polygon;
  }

  &__sml-image {
    width: 100%;
    height: 100%;
    background-color: #ffef5b;
    border-radius: toRem(12);
    grid-column: 5;
    justify-self: self-start;
    grid-row: 1 / -1;
    overflow: hidden;
    @media (max-width: toEm(700)) {
      display: none;
    }
  }
  &__order {
    width: 100%;
    height: 100%;
    /*aspect-ratio: 207/68;*/
    border-radius: toRem(10);
    background-color: #ff5b5b;
    grid-column: 4;
    grid-row: 1;
    font-family: "Inter", sans-serif;
    font-size: toRem(24);
    transition: background-color 0.3s;
    @media (max-width: toEm(700)) {
      @include adaptiveValue("font-size", 30, 24);
      grid-column: 2;
      grid-row: 3;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toRem(4);
    span {
      display: flex;
      align-items: center;
      gap: toRem(4);
      &::after {
        content: "";
        height: toRem(20);
        width: toRem(30);
        background: url("../img/arrow.svg") no-repeat center / cover;
        transition: transform 0.3s;
      }
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: #d35050;
        span {
          &::after {
            transform: translateX(50%);
          }
        }
      }
    }
  }
}

.stats {
  border-radius: toRem(12);
  background-color: #5b7fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: toRem(16);
  justify-content: center;
  padding: toRem(5) toRem(10);
  &__row {
    width: 100%;
    &:not(:last-child) {
      padding-bottom: toRem(16);
      border-bottom: toRem(1) solid rgba(243, 246, 247, 0.3);
    }
    display: flex;
    justify-content: space-between;
    gap: toRem(10);
    align-items: center;
  }

  &__item {
    display: flex;
    gap: toRem(6);
    align-items: center;
  }
}
.item-stats {
  &__count {
    @include adaptiveValue("font-size", 14, 12);
    font-weight: 600;
    line-height: 1.2;
    @media (max-width: toEm(700)) {
      @include adaptiveValue("font-size", 24, 16);
    }
  }

  &__text {
    line-height: 1.1;
    letter-spacing: toRem(-0.24);
    @media (max-width: toEm(700)) {
      @include adaptiveValue("font-size", 16, 12);
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.demonical-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(toRem(300), 1fr));
  gap: toRem(15);
}
.demonical-card {
  $decoration-width: toRem(100);
  &:nth-child(n) {
    counter-increment: cardCounter;
  }
  width: calc(100% - $decoration-width);
  aspect-ratio: 590/281;
  border-radius: toRem(20) 0 0 toRem(20);
  padding: toRem(40);
  padding-right: 0;
  @media (max-width: toEm(500)) {
    padding: toRem(20);
    padding-right: 0;
  }
  background-color: #fff;
  position: relative;

  &::before {
    top: 0;
    right: toRem(80);
  }
  &__title {
    color: #212121;
    font-family: "Inter", sans-serif;
    @include adaptiveValue("font-size", 27, 20);
    font-weight: 700;
    line-height: 1.2;
    &:not(:last-child) {
      margin-bottom: toEm(24, 27);
    }
  }

  &__text {
    color: #212121;
    font-family: "Inter", sans-serif;
    @include adaptiveValue("font-size", 18, 16);
    line-height: 1.6;
    &:not(:last-child) {
      margin-bottom: toEm(24, 27);
    }
    p {
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
  }
  &__right {
    width: $decoration-width;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    margin-left: toRem(-0.5);
    &::after {
      content: "";
      flex-grow: 1;
      margin-top: toRem(-0.5);
      background-color: #fff;
      border-bottom-right-radius: toRem(20);
    }
    &::before {
      content: "";
      color: #5b7fff;
      position: absolute;
      top: 0;
      right: 0;
      width: 80%;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      border-bottom-left-radius: toRem(25);
      font-size: toRem(38);
      font-weight: 600;
      line-height: 1.2;
    }

    &::before {
      content: counter(cardCounter, decimal-leading-zero);
    }
  }
  &__corner {
    width: 100%;
    aspect-ratio: 1/1;
    flex-shrink: 0;
    clip-path: $card-corner-polygon;
    background-color: #fff;
  }
}
