@import url("fonts.css");
@import url("reset.css");

body {
  color: #595959;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.resume-container {
  max-width: 1200px;
}
.main-info {
  margin: 102px 88px;
  max-width: 830px;
}
.main-title,
.title,
.subtitle,
.sub-subtitle {
  color: #000;
  line-height: 1.2;
  font-weight: 700;
}

.main-title {
  font-size: 45px;
  margin-bottom: 24px;
}

.title {
  font-size: 22px;
}

.subtitle {
  font-size: 16px;
}

.sub-subtitle {
  font-size: 14px;
}

.orange {
  color: #fb6d3a;
}

.text,
li {
  line-height: 1.71;
  margin-bottom: 9px;
}

.title-block {
  margin-bottom: 40px;
}
.title-block .sub-subtitle {
  margin-bottom: 19px;
}

.projects-block .title {
  margin-bottom: 8px;
}
.projects-block {
  margin-bottom: 51px;
}
ol {
  padding-left: 25px;
}
ul {
  padding-left: 16px;
  margin-bottom: 16px;
}
.line {
  display: inline-block;
  width: 130px;
  height: 10px;
  border-bottom: #1e2939 dashed 1px;
}
.bold-span {
  color: #000;
  font-weight: 700;
}
.work-exp-block {
  margin-bottom: 43px;
}
.work-exp-block .title {
  margin-bottom: 12px;
}
.work-exp-block .subtitle {
  margin-bottom: 11px;
}
.duration {
  color: #a8a8a8;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.duration span {
  display: inline-block;
  color: #000;
  margin: 0 9px;
}
.education-block * {
  margin-bottom: 11px;
}

.university {
  color: #fb6d3a;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
}
