@import url("fonts.css");
@import url("reset.css");

body {
  color: #7d7d7d;
  font-family: Inter, sans-serif;
  font-size: 18px;
  background-color: #000;
}

.button {
  padding: 21.5px 27px;
  background-color: #6b77e5;
  min-width: 184px;
  color: #fff;
  font-weight: 600;
  line-height: 1.22;
}

.button:hover {
  background-color: #40ddb6;
}

main > .button {
  margin: 50px;
  border-radius: 10px;
}

[class*="-container"] {
  padding: 30px;
  border: 5px dashed #37393f;
  margin: 0 auto 50px;
  background-color: #fff;
}

.text {
  line-height: 1.46;
  text-align: justify;
}

.text p:not(:last-child) {
  margin-bottom: 16px;
}

[class*="-container"]:not(:target) {
  display: none;
}

.why-us-container {
  max-width: 762px;
}

.why-us-container h2,
.why-us-container h3,
.why-us-container h4 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  line-height: 1.27;
}

.why-us-container > h2 {
  font-size: 30px;
  color: #37393f;
  margin-bottom: 12.5px;
  text-transform: capitalize;
}

.why-us-container h3 {
  font-size: 25px;
  color: #37393f;
}

.why-us-container h4 {
  color: #6b77e5;
  margin-bottom: 12px;
  font-size: 20px;
}

.why-us-container .text:not(:last-child) {
  margin-bottom: 41px;
}

.benefits-block h3 {
  margin-bottom: 21px;
}

.benefits-block h4 {
  color: #40ddb6;
  margin-bottom: 15px;
}

.benefits-block {
  margin-bottom: 50px;
  font-size: 0;
}

.benefits-info {
  max-width: 329px;
  display: inline-block;
}

.benefits-info ul {
  margin-bottom: 15px;
}

.benefits-info ul li {
  vertical-align: middle;
  font-size: 18px;
}

.benefits-info ul li:not(:last-child) {
  margin-bottom: 30px;
}

.benefits-info ul li::before {
  content: "";
  width: 27px;
  height: 27px;
  margin-right: 8px;
  margin-bottom: -7px;
  background: url("../img/marker.png") no-repeat center / contain;
}

.benefits-info *:last-child {
  margin-bottom: 0;
}

.benefits-block > img {
  width: 331px;
  height: 266px;
  margin-right: 29px;
}

.who-cares-container {
  max-width: 743px;
}

.who-cares-container h2,
.how-we-work-container h2,
.who-cares-container h3,
.how-we-work-container h3 {
  text-transform: capitalize;
  font-family: Poppins, sans-serif;
  color: #37393f;
}

.title-block .greensquare-title::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 6px;
  background: #40ddb6;
}

.who-cares-container > *:not(:last-child) {
  margin-bottom: 48px;
}

.who-cares-container .title-block {
  margin-bottom: 10px;
}

.who-cares-container .title-block h2 {
  max-width: 414px;
}

.title-block > *:not(:last-child) {
  margin-bottom: 16px;
}

.title-block .greensquare-title {
  color: #37393f;
  font-weight: 500;
  line-height: 1.2;
}

.title-block h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
}

.who-cares-container ul > *:not(:last-child) {
  margin-bottom: 31px;
}

.who-cares-container li h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 12px;
}

.who-cares-container li {
  border: 1px solid #e3e3e3;
  padding: 28px 41px 28px 38px;
}

.who-cares-container li .text {
  padding-left: 46px;
}

.who-cares-container li h3::before {
  content: "";
  width: 27px;
  height: 27px;
  margin-right: 19px;
  margin-bottom: -5px;
  background: url("../img/marker.png") no-repeat center / contain;
}

.how-we-work-container {
  width: 1290px;
  text-align: center;
}

.how-we-work-container .title-block {
  margin-bottom: 41px;
}

.how-we-work-container .card {
  max-width: 300px;
  padding: 0 10px;
  display: inline-block;
}

.how-we-work-container .card::before {
  content: "";
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-bottom: 22px;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRvy5rkOUbXyh6H4zQy96-jzWLP-Yo2tIQNw&usqp=CAU")
    no-repeat center / cover;
}

.how-we-work-container .cards :nth-child(1)::before {
  background-image: url("../img/calendar-circle.png");
}

.how-we-work-container .cards :nth-child(2)::before {
  background-image: url("../img/puzzle-circle.png");
}

.how-we-work-container .cards :nth-child(3)::before {
  background-image: url("../img/shield-circle.png");
}

.how-we-work-container .card:not(:last-child) {
  margin-right: 117px;
}

.how-we-work-container .card h3 {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  line-height: 1.27;
  margin-bottom: 16px;
}

.how-we-work-container .card .text {
  text-align: center;
  margin-bottom: 37px;
}

.how-we-work-container .card a {
  color: #6b77e5;
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
  text-transform: capitalize;
}

.how-we-work-container .card a:hover {
  color: #40ddb6;
}

.jewellery-container {
  width: 1284px;
  font-family: Cormorant Infant, serif;
  font-weight: 700;
  color: #000;
  font-size: 0;
}

.jewellery-container > * {
  display: inline-block;
  vertical-align: top;
}

.jewellery-container h2 {
  font-size: 60px;
  line-height: 1.15;
  max-width: 488px;
  padding-top: 117px;
  display: inline-block;
}

.jewellery-container h2::after {
  content: "";
  margin-top: 10px;
  display: block;
  width: 60%;
  height: 3px;
  border-bottom: #78473b solid 3px;
}

.jewellery-container .card {
  max-width: 334px;
  display: inline-block;
}
.jewellery-container .ring-link {
  cursor: pointer;
}
.jewellery-container .card img {
  width: 100%;
  margin-left: 10px;
  margin-top: 9px;
  /*
    Гадки не маю що це.
  */
  transition: 0.1s;
}

.jewellery-container .card h5 {
  font-size: 24px;
  line-height: 1.4;
}

.jewellery-container .card h5.card:not(:last-child) {
  margin-bottom: 4px;
}

.jewellery-container .ring-link:hover img {
  margin: 0;
}

.jewellery-container .card .img-border {
  width: 334px;
  margin-bottom: 34px;
  border: #000 solid 1px;
}

.jewellery-container .card:not(:last-child) {
  margin-right: 55px;
}

.jewellery-container .card h3 {
  font-size: 46px;
  line-height: 1.13;
  margin-bottom: 31px;
}

.white-ring {
  padding-top: 32px;
}

.hover-game {
  width: 100%;
  font-family: Creepster, serif;
  color: #fff;
  padding: 100px 30px;
  font-size: 0;
}

.road div {
  background-color: aqua;
  visibility: hidden;
}

.road * {
  display: inline-block;
  cursor: url("../img/game-cursor.png") 16 16, auto;
}

.start {
  background-color: yellow;
  display: block;
}

.end {
  background-color: red;
  visibility: hidden;
  width: 70px;
  height: 70px;
  transition: 0.3s;
}

.end:hover {
  width: 80px;
  height: 80px;
}

.road {
  font-size: 0;
  display: inline-block;
  min-height: 800px;
}

.hover-game .title {
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;
}

.rules {
  margin-bottom: 50px;
}

.rules .title {
  text-align: left;
}

.rules > li > * {
  display: inline-block;
  vertical-align: middle;
}

.rules > li:not(:last-child) {
  margin-bottom: 30px;
}

.rules > li [class*="-square"] {
  height: 70px;
  width: 70px;
}
.play {
  padding: 10px;
  width: 100px;
  font-size: 30px;
  text-align: center;
  background-color: green;
  transition: 0.2s;
}
.play:hover {
  width: 120px;
}
.yellow-square {
  background-color: yellow;
}

.aqua-square {
  background-color: aqua;
}

.red-square {
  background-color: red;
}

.rules > li .end {
  padding: 15px;
  font-size: 24px;
  visibility: visible;
}

.line {
  width: 70px;
  height: 8px;
  background-color: white;
  margin: 0 30px;
}

.rules > li p {
  font-size: 32px;
  text-align: left;
}

[id*="level-"]:not(:target) {
  display: none;
}

#level-1 .road div:nth-child(even) {
  height: 653px;
  width: 240px;
}

#level-1 .road div:nth-child(odd) {
  height: 71px;
  width: 1100px;
}

#level-1 .start {
  width: 240px;
  height: 86px;
}

#level-2 .start {
  margin-left: auto;
  width: 60px;
  height: 60px;
}

#level-2 .road div:nth-of-type(odd) {
  width: 100%;
  height: 54px;
}

#level-2 .road div:nth-of-type(even) {
  width: 39px;
  height: 72px;
}

#level-2 .road div:nth-of-type(4n) {
  margin-left: 760px;
}

#level-3 .road {
  width: 800px;
}

#level-3 .start {
  margin-left: auto;
  width: 60px;
  height: 60px;
}

#level-3 .end {
  display: block;
  margin-left: auto;
}

#level-3 .road div:nth-of-type(1) {
  width: 100%;
  height: 70px;
}

#level-3 .road div:nth-of-type(2) {
  width: 29px;
  height: 72px;
}

#level-3 .road div:nth-of-type(3) {
  width: 100%;
  height: 38px;
}

#level-3 .road div:nth-of-type(n + 3) {
  display: block;
  margin-left: auto;
}

#level-3 .road div:nth-of-type(4) {
  width: 20px;
  height: 72px;
}

#level-3 .road div:nth-of-type(5),
#level-3 .road div:nth-of-type(7) {
  width: 70px;
  height: 16px;
}

#level-3 .road div:nth-of-type(6) {
  margin-right: 54px;
}

#level-3 .road div:nth-of-type(6),
#level-3 .road div:nth-of-type(8) {
  width: 16px;
  height: 50px;
}

.fazber-gif {
  width: 100%;
}

.screamer {
  overflow: hidden;
}

.start:hover ~ *,
.road *:hover,
.road *:hover ~ * {
  visibility: visible;
}
