@import url("fonts.css");
@import url("reset.css");
@import url("rings.css");

body {
  font-size: 16px;
  color: #606060;
  font-family: "Inter", sans-serif;
  line-height: 1.2;
}

[class*="__container"] {
  max-width: 1201px;
  margin: 0 auto;
  padding: 30px 15px;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.page {
  flex-grow: 1;
}
.mangalsutras {
  background-color: #fefaf4;
}
.mangalsutras__title {
  font-size: 58px;
  text-transform: capitalize;
}
.mangalsutras__title:not(:last-child) {
  margin-bottom: 27px;
}
.title {
  color: #000;
  font-family: "DM Serif Text", serif;
}
.mangalsutras__text {
  font-size: 20px;
}
.mangalsutras__text:not(:last-child) {
  margin-bottom: 53px;
}

.mangalsutras__cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
  row-gap: 50px;
  justify-content: center;
}
.pop-mangalsutra {
  padding: 0 25px;
  flex: 1 1 33.3333%;
}
.picture {
  overflow: hidden;
  width: 100%;
}
@media (any-hover: hover) {
  .picture:hover .picture__img {
    transform: scale(1.1);
  }
}
.picture__img {
  width: 100%;
  aspect-ratio: 357/240;
  object-fit: cover;
  transition: transform 0.2s;
}
.pop-mangalsutra__title {
  font-size: 24px;
}
.pop-mangalsutra__title:not(:last-child),
.pop-mangalsutra__picture:not(:last-child) {
  margin-bottom: 16px;
}
.text-link {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s;
}
@media (any-hover: hover) {
  .text-link:hover {
    text-decoration-color: inherit;
  }
}
.pop-mangalsutra__text {
  line-height: 1.6;
}
.pop-mangalsutra__text:not(:last-child) {
  margin-bottom: 8px;
}
.read-more {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.read-more__link {
  color: #f55529;
  font-weight: 800;
}
.read-more__icon-link {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: url(../img/arrow.svg) no-repeat center / contain, #f55529;
  transition: transform 0.2s;
}
@media (any-hover: hover) {
  .read-more__icon-link:hover {
    transform: scale(1.1);
  }
}
.rings {
  background-color: #fff;
}
.rings__container {
  max-width: 1165px;
}
.rings__title {
  color: #291403;
  font-size: 58px;
  text-align: center;
}
.rings__title:not(:last-child) {
  margin-bottom: 27px;
}
.rings__text {
  color: #818181;
  text-align: center;
  font-family: "Cormorant Infant", serif;
  font-size: 30px;
  font-weight: 700;
}
.rings__text:not(:last-child) {
  margin-bottom: 62px;
}
.cards-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 -15px;
  row-gap: 30px;
}
.rings__cards:not(:last-child) {
  margin-bottom: 88px;
}
.jewellery-product {
  padding: 0 15px;
  flex: 1 1 25%;
  max-width: 400px;
}
.jewellery-product__picture:not(:last-child) {
  margin-bottom: 17px;
}
.jewellery-product__picture--round {
  border-radius: 5px;
}
.jewellery-product__picture .picture__img {
  object-fit: contain;
  aspect-ratio: 1/1;
}
.jewellery-product__name,
.jewellery-product__price {
  color: #000;
  font-family: "Cormorant Infant", serif;
  font-size: 24px;
  font-weight: 700;
}
.jewellery-product__price--white,
.jewellery-product__name--white {
  color: #fff;
}
.jewellery-product__name:not(:last-child),
.jewellery-product__price:not(:last-child) {
  margin-bottom: 8px;
}
.rings__button {
  padding: 12px 42.5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff7a49;
  color: #fff;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .rings__button:hover {
    background-color: rgb(204, 59, 6);
  }
}
.products {
  background-color: #0e333d;
}
.products__title {
  color: #fff;
  font-family: "DM Serif Text", serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}
.products__title:not(:last-child) {
  margin-bottom: 24px;
}
.products__text:not(:last-child) {
  margin-bottom: 34px;
}
.products__categories:not(:last-child) {
  margin-bottom: 77px;
}
.products__text {
  color: #ebebeb;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.products__categories {
  display: flex;
  justify-content: center;
  gap: 41px;
}

.radio-categories__input {
  visibility: hidden;
}
@media (any-hover: hover) {
  .radio-categories__label:hover {
    cursor: pointer;
  }
}
.radio-categories__input:checked + .radio-categories__label {
  text-decoration-color: inherit;
}
.radio-categories__label {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s;
}
@media (max-width: 990.98px) {
  .pop-mangalsutra {
    flex: 0 0 50%;
  }
  .jewellery-product {
    flex: 0 0 50%;
  }
}
@media (max-width: 767.98px) {
  .mangalsutras__title:not(:last-child) {
    margin-bottom: 17px;
  }
  .mangalsutras__text:not(:last-child) {
    margin-bottom: 17px;
  }
  .rings__title {
    font-size: 40px;
  }
  .rings__title:not(:last-child) {
    margin-bottom: 20px;
  }
  .rings__text {
    font-size: 24px;
  }
  .rings__text:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 576px) {
  .pop-mangalsutra__title {
    font-size: 20px;
  }
  .mangalsutras__title {
    font-size: 40px;
  }
  .mangalsutras__cards {
    margin: 0;
  }
  .pop-mangalsutra {
    flex: 0 0 100%;
    padding: 0;
  }
  .mangalsutras__text {
    font-size: 16px;
  }
  .jewellery-product {
    flex: 0 0 100%;
    padding: 0;
  }
  .cards-products {
    margin: 0;
  }
  .products__categories {
    gap: 10px;
  }
}
