@import url("https://fonts.googleapis.com/css?family=Poppins:500&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Semi-Bold.woff2") format("woff2"), url("../fonts/Causten-Semi-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-55Medium.woff2") format("woff2"), url("../fonts/CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"), url("../fonts/CoreSansC-65Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/CoreSansC-75ExtraBold.woff2") format("woff2"), url("../fonts/CoreSansC-75ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  font-size: 14px;
}

[class*=__container] {
  max-width: 1269px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  height: 100px;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: "Causten", sans-serif;
  padding: 31.5px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #fff;
}
@media (max-width: 1050px) {
  .header {
    padding: 10px 0;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header__logo {
  flex: 0 0 91px;
  position: relative;
  z-index: 3;
}
.header__logo svg {
  width: 100%;
  height: 100%;
}
@media (max-width: 433px) {
  .header__logo {
    flex-basis: 70px;
  }
}
.header__actions {
  flex-shrink: 0;
  position: relative;
  z-index: 3;
}
.header__mobile-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__form-search {
  min-width: 124px;
  height: 44px;
  max-width: 250px;
  flex-shrink: 0;
}
.header__search {
  background-color: #fff;
}
@media (max-width: 607px) {
  .header__search {
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    padding: 80px 15px 20px;
    opacity: 0;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }
  .search-open .header__search {
    right: 0;
    opacity: 1;
  }
}

.menu__list {
  display: flex;
  gap: 5px 40px;
  flex-wrap: wrap;
}
.menu__item {
  color: #807d7e;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}
.menu__link {
  position: relative;
}
@media (any-hover: hover) {
  .menu__link:hover::after {
    transform: scaleX(1);
  }
}
.menu__link::after {
  content: "";
  background-color: #807d7e;
  height: 2px;
  border-radius: 2px;
  transform: scaleX(0);
  width: 100%;
  transition: transform 0.2s;
  position: absolute;
  top: 100%;
  left: 0;
}
.menu__link--current {
  color: #3c4242;
  font-weight: 700;
  pointer-events: none;
}
.menu__body {
  display: flex;
  gap: 25px;
  align-items: center;
}
@media (max-width: 1050px) {
  .menu__body {
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px 15px 15px;
    overflow: auto;
    transition: bottom 0.2s;
  }
}
@media (max-width: 1050px) and (max-width: 433px) {
  .menu__body {
    padding-top: 70px;
  }
}
@media (max-width: 1050px) {
  .menu-open .menu__body {
    bottom: 0;
  }
  .menu-open .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 111px;
    z-index: 2;
  }
}
@media (max-width: 1050px) and (max-width: 1050px) {
  .menu-open .menu__body::before {
    height: 68px;
  }
}
@media (max-width: 1050px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .menu__item {
    font-size: 30px;
  }
}

.search-bar {
  position: relative;
}
.search-bar__button {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.search-bar__input {
  background-color: #f6f6f6;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s;
  padding-left: 52px;
  padding-right: 15px;
}
.search-bar__input:focus-visible {
  outline: none;
  background-color: #ebebeb;
}

.actions-header {
  display: flex;
  align-items: center;
  gap: 12px;
}
.actions-header__item {
  border-radius: 8px;
  background-color: #f6f6f6;
  transition: background-color 0.2s;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (any-hover: hover) {
  .actions-header__item:hover {
    background-color: #ebebeb;
  }
  .actions-header__item:active {
    background-color: #cccbcb;
  }
}
@media (max-width: 433px) {
  .actions-header__item {
    height: 32px;
    width: 32px;
  }
}
.actions-header__item img {
  max-width: 100%;
}

.menu-switch {
  border-radius: 8px;
  background-color: #f6f6f6;
  transition: background-color 0.2s;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (any-hover: hover) {
  .menu-switch:hover {
    background-color: #ebebeb;
  }
  .menu-switch:active {
    background-color: #cccbcb;
  }
}
@media (max-width: 433px) {
  .menu-switch {
    height: 32px;
    width: 32px;
  }
}
.menu-switch img {
  max-width: 100%;
}
@media (min-width: 1050px) {
  .menu-switch {
    display: none;
  }
}
.menu-switch__body {
  height: 15px;
  width: 20px;
  position: relative;
}
.menu-switch__body::before,
.menu-switch__body span, .menu-switch__body::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #807d7e;
  transition: all 0.2s;
}
.menu-switch__body::before {
  top: 0;
}
.menu-switch__body span {
  top: 50%;
  transform: translateY(-50%);
}
.menu-switch__body::after {
  bottom: 0;
}
.menu-open .menu-switch__body::before {
  transform: rotate(-45deg) translateY(-50%);
  top: 50%;
}
.menu-open .menu-switch__body span {
  left: 100%;
  opacity: 0;
}
.menu-open .menu-switch__body::after {
  transform: rotate(45deg) translateY(50%);
  bottom: 50%;
}

.search-switch {
  border-radius: 8px;
  background-color: #f6f6f6;
  transition: background-color 0.2s;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}
@media (any-hover: hover) {
  .search-switch:hover {
    background-color: #ebebeb;
  }
  .search-switch:active {
    background-color: #cccbcb;
  }
}
@media (max-width: 433px) {
  .search-switch {
    height: 32px;
    width: 32px;
  }
}
.search-switch img {
  max-width: 100%;
}
@media (min-width: 607px) {
  .search-switch {
    display: none;
  }
}
.search-switch::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  background-color: #807d7e;
  transform: rotate(-45deg) translateY(-50%) scale(0);
  transition: all 0.2s;
}
.search-open .search-switch::before {
  transform: rotate(-45deg) translateY(-50%) scale(1);
}

.page {
  flex-grow: 1;
  padding-top: 110px;
}
@media (max-width: 1050px) {
  .page {
    padding-top: 67px;
  }
}
@media (max-width: 433px) {
  .page {
    padding-top: 57px;
  }
}
.page__section:not(:last-child) {
  margin-bottom: 100px;
}

.hero {
  position: relative;
  padding: 15px;
}
@media (max-width: 778px) {
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.485);
    z-index: 1;
  }
}
.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
}
.hero__body {
  position: relative;
  z-index: 2;
  padding: 0 40px;
  min-height: calc(100dvh - 110px - 30px);
  display: grid;
  align-items: center;
  gap: 15px 8.902692%;
}
@media (max-width: 1050px) {
  .hero__body {
    min-height: calc(100dvh - 68px - 30px);
  }
}
@media (max-width: 433px) {
  .hero__body {
    min-height: calc(100dvh - 57px - 30px);
  }
}
@media (min-width: 990.98px) {
  .hero__body {
    grid-template-columns: 24px 1fr 24px;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.hero__subtitle, .hero__title {
  color: #fff;
  font-family: "Core Sans C", sans-serif;
  line-height: 1.2;
}
.hero__subtitle {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.157px;
}
.hero__title {
  letter-spacing: 0.315px;
  font-size: 78px;
  max-width: 480px;
  font-weight: 800;
}
.hero__link {
  padding: 16px 72px;
  border-radius: 8px;
  background-color: #fff;
  color: #3c4242;
  text-align: center;
  font-family: "Causten", sans-serif;
  font-size: 24px;
  font-weight: 700;
  transition: background-color 0.2s;
}
@media (any-hover: hover) {
  .hero__link:hover {
    background-color: #eeeeee;
  }
  .hero__link:active {
    background-color: #e3e3e3;
  }
}
@media (max-width: 530px) {
  .hero__content {
    gap: 30px;
  }
  .hero__subtitle {
    font-size: 30px;
  }
  .hero__title {
    letter-spacing: 0.315px;
    font-size: 60px;
  }
  .hero__link {
    padding: 16px 20px;
  }
}
@media (max-width: 467px) {
  .hero__body {
    padding: 0 15px;
  }
  .hero__content {
    gap: 20px;
  }
  .hero__subtitle {
    font-size: 20px;
  }
  .hero__title {
    font-size: 40px;
    max-width: 350px;
  }
  .hero__link {
    padding: 16px 20px;
  }
}
.hero__slide {
  height: 44px;
  width: 24px;
  transition: transform 0.2s;
}
@media (max-width: 990.98px) {
  .hero__slide {
    display: none;
  }
}
@media (any-hover: hover) {
  .hero__slide:hover {
    transform: scale(1.1);
  }
}
.hero__slide img {
  width: 100%;
}
@media (min-width: 990.98px) {
  .hero__pages {
    grid-column: 2;
  }
}

.pages {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  justify-self: center;
}
.pages__item {
  cursor: pointer;
  width: 50px;
  height: 10px;
  background-color: #fff;
  opacity: 0.5;
}
.pages__item--start, .pages__item--end {
  width: 60px;
}
.pages__item--start {
  border-radius: 12px 0 0 12px;
}
.pages__item--end {
  border-radius: 0 12px 12px 0;
}
.pages__item--current {
  opacity: 1;
}

.special {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.special__item {
  border-radius: 12px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
  overflow: clip;
}
@media (max-width: 767.98px) {
  .special {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.item-special {
  position: relative;
  padding: 67px 28px;
}
.item-special__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.item-special__sub-title {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: 0.251px;
  margin-bottom: 24px;
}
.item-special__title {
  margin-bottom: 10px;
}
.item-special__text {
  color: #fff;
  font-family: "Core Sans C", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.251px;
  margin-bottom: 41px;
}
.item-special__text p:not(:last-child) {
  margin-bottom: 10px;
}
.item-special__link {
  color: #fff;
  font-family: "Core Sans C", sans-serif;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.2;
  text-decoration-line: underline;
  transition: text-shadow, 0.2s;
}
@media (any-hover: hover) {
  .item-special__link:hover {
    text-shadow: 0px 0px 17px rgba(255, 255, 255, 0.77);
  }
}
.item-special__content {
  position: relative;
  z-index: 2;
}
.item-special__content > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 440px) {
  .item-special {
    padding: 30px 20px;
  }
  .item-special__title {
    font-size: 25px;
  }
  .item-special__link {
    font-size: 25px;
  }
}

.title-item {
  color: #fff;
  font-family: "Core Sans C", sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 1.32;
}

.new__slider {
  margin-bottom: 50px;
}
.new > *:last-child {
  margin-bottom: 0;
}

.title-section {
  color: #3c4242;
  font-family: "Core Sans C", sans-serif;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.68px;
  display: flex;
  column-gap: 20px;
}
@media (max-width: 400px) {
  .title-section {
    font-size: 28px;
  }
}
.title-section--decorated::before {
  content: "";
  width: 6px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 10px;
  margin-top: 2px;
  background-color: #8a33fd;
}
.title-section--mb:not(:last-child) {
  margin-bottom: 70px;
}
@media (max-width: 767.98px) {
  .title-section--mb:not(:last-child) {
    margin-bottom: 40px;
  }
}

.slider {
  display: grid;
  grid-template-columns: 14px 1fr 14px;
  gap: 33px 23px;
}
.slider__arrow {
  align-self: center;
  width: 14px;
  aspect-ratio: 14/12;
  background: url("../img/arrow.svg") no-repeat center/cover;
  transition: all 0.2s;
}
@media (any-hover: hover) {
  .slider__arrow:hover {
    background-image: url("../img/arrow-active.svg");
  }
}
.slider__arrow--right {
  transform: rotate(180deg);
}
.slider__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
  gap: 60px 39px;
}
@media (max-width: 767.98px) {
  .slider__items {
    gap: 30px 20px;
  }
}
.slider__pages {
  display: flex;
  gap: 10px;
  grid-row: 2;
  grid-column: 1/-1;
  justify-self: center;
  padding: 0 40px;
  flex-wrap: wrap;
}
.slider__page {
  width: 8px;
  height: 8px;
  background-color: #3c4242;
  border-radius: 50%;
  cursor: pointer;
}
.slider__page--active {
  background-color: #8a33fd;
}
@media (max-width: 990.98px) {
  .slider {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .slider__items {
    grid-column: 1/3;
  }
  .slider__arrow {
    width: 30px;
    grid-row: 2;
    grid-column: 1;
  }
  .slider__arrow--right {
    grid-row: 2;
    grid-column: 2;
    justify-self: end;
  }
}

@media (any-hover: hover) {
  .item-slider__link:hover .item-slider__img {
    transform: scale(1.1);
  }
  .item-slider__link:hover .item-slider__text {
    text-decoration: underline;
  }
}
.item-slider__body {
  display: grid;
  gap: 33px;
  align-items: center;
}
.item-slider__picture {
  border-radius: 12px;
  overflow: clip;
}
.item-slider__img {
  width: 100%;
  aspect-ratio: 1/1;
  transition: transform 0.2s;
  object-fit: cover;
}
.item-slider__text {
  color: #3c4242;
  font-family: "Causten", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.sales__items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
@media (max-width: 575px) {
  .sales__items {
    grid-template-columns: 1fr;
  }
}
.sales__item {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 767.98px) {
  .sales__item {
    grid-column: span 3;
  }
}
@media (max-width: 575px) {
  .sales__item {
    grid-column: auto;
  }
}

.item-sales {
  position: relative;
}
.item-sales--big {
  grid-column: span 3;
}
.item-sales--big .item-sales__content {
  padding: 45px 85px;
}
@media (max-width: 440px) {
  .item-sales--big .item-sales__content {
    padding: 45px 15px;
  }
}
@media (max-width: 575px) {
  .item-sales--big {
    grid-column: auto;
  }
}
.item-sales__background {
  border-radius: 12px;
  overflow: clip;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 990.98px) {
  .item-sales__background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #3c4242;
  }
}
.item-sales__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  aspect-ratio: 393/400;
}
.item-sales__content {
  position: relative;
  z-index: 3;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 63px 20px;
}
.item-sales__content--right {
  align-self: flex-end;
  align-items: flex-end;
  text-align: right;
}
.item-sales__content--limited {
  padding-top: 34px;
}
.item-sales__content--ta-left {
  align-items: flex-start;
  text-align: left;
}
.item-sales__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.37;
  margin-bottom: 10px;
  max-width: 168px;
}
.item-sales__text {
  color: #fff;
  font-family: "Causten", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.item-sales__text--big {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 31px;
}
@media (max-width: 767.98px) {
  .item-sales__text {
    font-size: 16px;
  }
}
.item-sales__shop-now {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
}
.item-sales__link {
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 10px 25px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Causten", sans-serif;
  font-size: 12px;
  font-weight: 500;
  transition: background-color 0.2s;
  order: 2;
}
@media (max-width: 767.98px) {
  .item-sales__link {
    font-size: 16px;
    border-width: 2px;
  }
}
.item-sales__arrow {
  width: 20px;
  aspect-ratio: 20/24;
  background: url("../img/white-arrow.svg") no-repeat center/cover;
  transition: transform 0.2s;
  order: 1;
}
.item-sales__arrow--black {
  background-image: url("../img/black-arrow.svg");
}
@media (any-hover: hover) {
  .item-sales__link:hover {
    background-color: rgba(255, 255, 255, 0.3882352941);
  }
  .item-sales__link:hover + .item-sales__arrow {
    transform: translateY(100%);
  }
}
.item-sales--black-text .title-item,
.item-sales--black-text .item-sales__text,
.item-sales--black-text .item-sales__link {
  color: #3c4242;
  border-color: #3c4242;
}
@media (max-width: 990.98px) {
  .item-sales--black-text .item-sales__background::before {
    background-color: #ffffff;
  }
}

.arcticle {
  padding: 8px 16px;
  color: #fff;
  text-align: center;
  font-family: "Causten", sans-serif;
  font-size: 12px;
  font-weight: 700;
  border-radius: 4px;
  background-color: #3c4242;
  margin-bottom: 29px;
}

.categories__items {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}
@media (any-hover: hover) {
  .item-category__link:hover .item-category__title {
    text-decoration-color: inherit;
  }
  .item-category__link:hover .item-category__img {
    transform: scale(1.02);
  }
  .item-category__link:hover .item-category__arrow {
    transform: translateX(-50%);
  }
}
.item-category__picture {
  overflow: hidden;
  border-radius: 10px;
}
.item-category__picture:not(:last-child) {
  margin-bottom: 16px;
}
.item-category__img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}
.item-category__body {
  display: flex;
  gap: 10px;
  align-items: center;
}
.item-category__body:not(:last-child) {
  margin-bottom: 16px;
}
.item-category__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: "Causten", sans-serif;
}
.item-category__info--poppins {
  font-family: "Poppins", sans-serif;
}
.item-category__title {
  color: #2a2f2f;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.715px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.2s;
}
.item-category__title--medium {
  font-weight: 500;
}
.item-category__text {
  color: #7f7f7f;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.536px;
}
.item-category__arrow {
  width: 17px;
  height: 17px;
  background: url("../img/category-arrow.svg") no-repeat center/contain;
  transition: transform 0.2s;
}