@import url("fonts.css");
@import url("reset.css");

body {
  font-size: 16px;
  font-family: "Causten", sans-serif;
  line-height: 1.2;
}

[class*="__container"] {
  max-width: 925px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.page {
  flex-grow: 1;
  padding: 15px 0;
}

.page__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  color: #3c4242;
  font-family: "Core Sans C", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}
.title--decorated {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.title--decorated::before {
  content: "";
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: #8a33fd;
  flex-shrink: 0;
}
.my-info__title {
  font-size: 28px;
  letter-spacing: 0.56px;
  margin-bottom: 20px;
}
.check-out__title {
  font-size: 28px;
  letter-spacing: 0.56px;
  margin-bottom: 20px;
}
.check-out__billing-form .form__input {
  font-size: 14px;
}
.check-out__billing-form .form__label {
  font-size: 16px;
}
.check-out__biling-form:not(:last-child) {
  padding-bottom: 32px;
  border-bottom: 1px #edeef2 solid;
  margin-bottom: 30px;
}
.form__title {
  font-size: 22px;
  letter-spacing: 0.44px;
  margin-bottom: 50px;
}

.form__inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -21px 30px;
  row-gap: 31px;
}
.form__item {
  padding: 0 21px;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  flex: 1 1 382px;
}
.form__item--short {
  flex: 1 1 246px;
}
.form__label {
  color: #3c4242;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.36px;
}
.input {
  padding: 0 22px;
}
.input,
.form__textarea {
  border: transparent 3px solid;
  border-radius: 8px;
  transition: border 0.2s;
  background-color: #f6f6f6;
}
.form__input {
  width: 100%;
  flex: 0 0 55px;
}
.input::placeholder {
  color: #807d7e;
}
.input:focus,
.form__textarea:focus {
  outline: none;
  border-color: #8a33fd;
}
.form__textarea {
  padding: 17.855px 22.319px;
  resize: none;
  border-radius: 8px;
  background: #f6f6f6;
  min-height: 149px;
}

.form__checkboxes {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}
.form__checkboxes:not(:last-child) {
  margin-bottom: 58px;
}
.form__checkbox {
  display: flex;
  align-items: center;
  gap: 11px;
}
.checkbox {
  position: relative;
}
.checkbox__input {
  width: 20px;
  height: 20px;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: 3;
  cursor: pointer;
  flex: 0 0 20px;
}
.checkbox__marker {
  width: 20px;
  height: 20px;
  background: url("../img/checkbox.svg") no-repeat center / cover;
  flex: 0 0 20px;
}
.checkbox__input:checked + .checkbox__marker {
  background-image: url("../img/checkbox-checked.svg");
}
.checkbox__label {
  font-size: 20px;
}
.form__buttons {
  display: flex;
  gap: 30px;
}
.form__buttons:not(:last-child) {
  margin-bottom: 20px;
}
.button {
  border-radius: 8px;
  background: #8a33fd;
  padding: 12px 40px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.button:hover {
  background-color: #6620c1;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
}
.button:active {
  background-color: #581ba7;
}
.button--gray {
  background: #f6f6f6;
  color: #807d7e;
  font-weight: 700;
}
.button--gray:hover {
  background-color: #bebcbd;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.1);
}
.button--gray:active {
  background-color: #a8a7a7;
}
.button--tiny-text {
  font-size: 18px;
  font-weight: 500;
  padding: 16px 20px;
}
.select {
  flex: 0 0 55px;
  position: relative;
}
.select__input {
  appearance: none;
}

.select__placeholder {
  color: #807d7e;
}
.select__arrow {
  display: inline-block;
  height: 22.3px;
  width: 22.3px;
  background: url("../img/down.svg") no-repeat center / cover;
  transition: background-image 0.2s;
  position: absolute;
  top: 31%;
  right: 22.3px;
  pointer-events: none;
}
.select:hover .select__arrow {
  background-image: url("../img/down-active.svg");
}
.select__input {
  width: 100%;
  height: 100%;
}
.select__input:invalid {
  color: #807d7e;
}
.select__option {
  color: #3c4242;
}
.check-out__billing-form {
  max-width: 801px;
}
.check-out__billing-form:not(:last-child) {
  padding-bottom: 32px;
  border-bottom: 1px #edeef2 solid;
  margin-bottom: 30px;
}

.fieldset__legend {
  font-size: 22px;
  margin-bottom: 8px;
}
.form-shipping-address {
  padding-top: 8px;
}

.form-order__field:not(:last-of-type):not(:last-child) {
  padding-bottom: 30px;
  border-bottom: 1px #bebcbd solid;
  margin-bottom: 30px;
}
.form-order__field:last-of-type {
  margin-bottom: 50px;
}
.fieldset__desc {
  font-size: 16px;
  margin-bottom: 30px;
}

.gray-card {
  border-radius: 12px;
  background: #f6f6f6;
  padding: 30px 28px;
}

.gray-card__item:not(:last-child) {
  border-bottom: 1px #bebcbd solid;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.radio {
  display: flex;
  column-gap: 19px;
  align-items: center;
  position: relative;
}
.radio__input {
  width: 18px;
  height: 18px;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: 3;
  cursor: pointer;
  flex: 0 0 18px;
}
.radio__label,
.shipping-date,
.delivery-charges__price {
  color: #3c4242;
  font-size: 20px;
  font-weight: 700;
}

.radio__marker {
  width: 18px;
  height: 18px;
  background: url("../img/radio-button.svg") no-repeat center / cover;
  flex: 0 0 18px;
}
.radio__input:checked + .radio__marker {
  background-image: url("../img/radio-button-checked.svg");
}
.radio__body > *:not(:last-child) {
  margin-bottom: 5px;
}
.delivery-charges {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.delivery-charges__title {
  font-size: 20px;
  font-family: "Causten", sans-serif;
  font-weight: 700;
  margin-bottom: 8px;
}
.delivery-charges__sub-text {
  color: #807d7e;
  font-size: 16px;
  font-weight: 500;
}

.fieldset__legend--big-margin {
  margin-bottom: 30px;
}

.card-data {
  padding: 30px 37px 0;
}
.card-data__types {
}
.card-types {
  display: flex;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.card-types__item {
  flex: 0 0 80px;
  border-radius: 8px;
}
.card-types__img {
  width: 100%;
}
.card-data__inputs {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  row-gap: 30px;
}
.inputs-card__item {
  padding: 0 15px;
  flex: 1 1 337px;
}
.inputs-card__item--relative {
  position: relative;
}
.inputs-card__input {
  height: 55px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #3c4242;
}
.card-data__value-hider {
  position: relative;
}
.eye {
  width: 20px;
  height: 20px;
  background: url("../img/eye.svg") no-repeat center / cover;
  transition: background-image 0.2s;
  position: absolute;
  right: 6%;
  top: 30%;
}
.eye:hover {
  background-image: url("../img/eye-active.svg");
}
