@import url("fonts.css");
@import url("reset.css");

body {
  color: #7d7d7d;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.about-us-block {
  max-width: 692px;
  font-weight: 400;
  line-height: 1.46;
  margin: 0 auto 50px auto;
}
.about-us-text {
  margin-bottom: 41px;
}

.about-us-text {
  text-align: justify;
}

.about-us-img {
  margin-bottom: 37px;
}

[class*="-title"] {
  text-align: left;
  color: #37393f;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.27;
  text-transform: capitalize;
}
.about-us-title {
  margin-bottom: 12.5px;
}

[class*="-subtitle"] {
  font-size: 20px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.27;
}

.about-us-subtitle {
  margin-bottom: 12px;
  color: #6b77e5;
}
.benefits-block {
  font-size: 0px;
}

.benefits-text {
  max-width: 332px;
  display: inline-block;
}

.benefits-img {
  max-width: 331px;
  vertical-align: top;
  margin-right: 29px;
}

.benefits-text-title {
  font-size: 25px;
  text-transform: none;
  margin-bottom: 15px;
}

.benefits-text-subtitle {
  margin-bottom: 21px;
  color: #40ddb6;
  line-height: 1.27;
}

.benefits-text-list li {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  line-height: 1.2;
}

.jewellery {
  font-size: 0;
  margin: 0 auto;
  max-width: 1170px;
}

.jewellery-content {
  display: inline-block;
  max-width: 563px;
  vertical-align: top;
  padding-top: 21px;
  margin-right: 38px;
}

.jewellery-imgs {
  display: inline-block;
}

.jewellery-left-img {
  margin-right: 22px;
}

.jewellery-imgs img {
  max-width: 273px;
}

.jewellery-title {
  color: #0e333d;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-size: 59px;
  line-height: 1.46;
  margin-bottom: 25px;
}

.jewellery-subtitle {
  color: #d06b00;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.jewellery-text {
  color: #474747;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8;
  text-align: left;
}

.practice {
  background-color: rgb(113, 151, 195);
}

.invalid-span {
  background-color: #d06b00;
  display: block;
  height: 100px;
  width: 200px;
  padding: 30px 31px;
  margin: 100px 101px 102px;
}

.invalid-div {
  background-color: aquamarine;
  display: inline;
  height: 200px;
  width: 300px;
  padding: 30px 31px 32px 33px;
  margin: 100px;
}

.surprice-box {
  background-color: chartreuse;
  box-sizing: content-box;
  margin-top: 100px;
  margin-right: 101px;
  margin-bottom: 102px;
  margin-left: 103px;
  padding-top: 30px;
  padding-right: 31px;
  padding-bottom: 32px;
  padding-left: 33px;
}
