@import url("fonts.css");
@import url("reset.css");

body {
  color: #7d7d7d;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.favors {
  padding: 30px;
  border: 5px dashed #37393f;
  margin: 0 auto 50px;
}

.favors {
  max-width: 743px;
}

.favors .subtitle {
  color: #37393f;
}

.favors .title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

.title-block .title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
}

.title-block .subtitle {
  font-weight: 500;
  line-height: 1.2;
  padding-left: 18px;
  margin-bottom: 16px;
  background: linear-gradient(
      90deg,
      rgba(64, 221, 182, 1) 0%,
      rgba(64, 221, 182, 1) 100%
    )
    left 5px / 12px 12px no-repeat;
}

.favors .title-block,
.favors .text {
  margin-bottom: 20px;
}

.favors .text p {
  line-height: 1.46;
  margin-bottom: 15px;
}

.favors ul {
  margin-bottom: 73px;
}

.favors ul li {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.65;
  margin-bottom: 23px;
  padding-left: 35px;
  background-image: url("../img/check-mark.png");
  background-repeat: no-repeat;
  background-position: left 3px;
  min-height: 30px;
}

.favors .cards div {
  max-width: 300.3px;
  display: inline-block;
  padding: 32px;
  padding-left: 90px;
  border: #e3e3e3 solid 1px;
}
.favors .experience-card {
  background: url("../img/experience.png") no-repeat 37px 31px / 40px;
}
.favors .awards-winner-card {
  background: url("../img/awards.png") no-repeat 37px 31px / 40px;
}
.favors .cards .title {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 3px;
}
.favors .cards {
  margin-bottom: 69px;
}
.favors .cards .text {
  font-size: 16px;
  line-height: 1.35;
}
.favors .more-about-button {
  display: block;
  padding: 21.5px 27px;
  background-color: #6b77e5;
  max-width: 184px;
  min-height: 65px;
  color: #fff;
  font-weight: 600;
  line-height: 1.22;
  text-transform: capitalize;
}
