@mixin headerButton(
  $bgColor: #f6f6f6,
  $hoverColor: #ebebeb,
  $activeColor: #cccbcb
) {
  border-radius: 8px;
  background-color: $bgColor;
  transition: background-color 0.2s;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (any-hover: hover) {
    &:hover {
      background-color: $hoverColor;
    }
    &:active {
      background-color: $activeColor;
    }
  }
  @media (max-width: 433px) {
    height: 32px;
    width: 32px;
  }
  img {
    max-width: 100%;
  }
}
