@import url("fonts.css");
@import url("reset.css");

body {
}

[class*="-container"] {
  padding: 30px;
  border: 5px dashed #37393f;
  margin: 0 auto;
}
[class*="-container"]:not(:last-of-type) {
  margin-bottom: 50px;
}
