@import url("fonts.css");
@import url("reset.css");

body {
  font-size: 0;
}

[class*="__container"] {
  max-width: 1262px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}

.action {
  background: url("../img/heaven.webp") no-repeat center / cover;
  height: 100vh;
  position: relative;
  animation: set-background-forest 0.3s forwards 13.7s,
    set-background-road 0.3s forwards 26.7s,
    set-background-tree 0.3s forwards 33.5s;
}
.action,
.action * {
  animation-play-state: paused !important; /* Знаю, що не можна, та тут без цього ніяк */
}
.action--animated,
.action--animated * {
  animation-play-state: running !important; /* Знаю, що не можна, та тут без цього ніяк */
}
.action__curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2f4f4fcc;
  z-index: 3;
}

.action__play-button,
.action__show-translate {
  position: absolute;
  padding: 20px;
  background-color: blueviolet;
  transition: background-color 0.2s;
  cursor: pointer;
  font-size: 16px;
  font-family: Inter, sans-serif;
  border-radius: 10px;
  color: aliceblue;
}
.action__show-translate {
  top: 5%;
  left: 5%;
}
.action__play-button {
  text-transform: uppercase;
  top: 50%;
  left: 50%;
}

.action__translate {
  font-size: 16px;
  color: aliceblue;
  visibility: hidden;
  position: absolute;
  top: 100%;
}
.action__play-button:hover,
.action__show-translate:hover {
  background-color: rgb(108, 34, 178);
}
.action__show-translate:hover .action__translate,
.action__translate:hover {
  visibility: visible;
}
.action__entity {
  animation: none;
}
.action__entity {
  position: absolute;
  background: no-repeat bottom / contain;
}
.action__blonde,
.action__brunette,
.action__ginger {
  height: 80%;
  width: 300px;
  left: 100%;
  animation: girl-first-show linear 1s forwards;
  bottom: 0;
}

.action__blonde {
  background-image: url("../img/blonde-start.webp");
  animation: blonde-first-show linear 1s forwards,
    blonde-first-show reverse 0s forwards 13.5s,
    blonde-walking-moves alternate linear 0.5s 4 14s,
    set-blonde-walking-image 0s forwards 14s,
    blonde-walking-plot linear 2s forwards 14s,
    set-blonde-standing-image 0s forwards 16s, entity-remove 0s forwards 26s;
}
.action__brunette {
  transform-origin: center 90%;
  background-image: url("../img/brunette-start.webp");
  animation: brunette-first-show linear 1s forwards 0.2s,
    brunette-first-show reverse 0s forwards 13.5s,
    brunette-walking-moves alternate 0.4s 5 27.3s,
    set-brunette-walking-image 0s forwards 27.3s,
    brunette-walking-plot linear 2s forwards 27.3s,
    brunette-fall linear 0.2s alternate 2 29.3s,
    set-brunette-standing-image 0s forwards 29.4s,
    entity-remove forwards 0s 33.5s;
}
.action__ginger {
  background-image: url("../img/ginger-start.webp");
  animation: ginger-first-show linear 1s forwards 0.4s,
    ginger-first-show reverse 0s forwards 13.5s,
    set-ginger-walking-image 0s forwards 34s,
    ginger-walking-plot linear 4s forwards 34s,
    set-ginger-standing-image 0s forwards 38s;
}

.action__apostle {
  height: 80%;
  width: 20%;
  background-image: url("../img/apostle.webp");
  left: 100%;
  bottom: 0;
  animation: apostle-show 1s linear forwards 2s, entity-remove forwards 0s 13.5s;
}
.action__men-1,
.action__men-2,
.action__men-3 {
  height: 80%;
  width: 20%;
  right: 100%;
  bottom: 0;
}
.action__men-1 {
  transform-origin: center 90%;
  background-image: url("../img/men-1.webp");
  animation: men1-show forwards linear 1s 20s, entity-remove 0s forwards 26s;
}

.action__men-2 {
  background-image: url("../img/men-2.webp");
  animation: men2-show forwards linear 1s 31s, entity-remove forwards 0s 33.5s;
}

.action__men-3 {
  width: 40%;
  background-image: url("../img/freddy.webp");
  animation: men3-show forwards linear 2s 38s;
}

.action__lightning {
  background-image: url("../img/lightning.webp");
  background-size: cover;
  height: 200px;
  width: 100px;
  visibility: hidden;
  left: 75%;
  top: -4%;
  animation: lightning-strike 0.5s 12.5s, entity-remove forwards 0s 13s;
}
.action__duck {
  height: 20%;
  width: 20%;
  transform-origin: bottom;
  background-image: url("../img/duck.webp");
  right: 100%;
  bottom: 0;
}
.action__duck--start {
  left: 100%;
  animation: duck-jumping infinite 0.07s alternate 8s,
    duck-first-run forwards 2s linear 8s, entity-remove forwards 0s 10s;
}
.action__duck--blonde {
  right: 100%;
  animation: duck-jumping infinite 0.07s alternate 14s,
    duck-blonde-run forwards 2s linear 14s, duck-explosion forwards 0s 16s,
    entity-remove forwards 0s 18s;
}
.action__duck--brunette {
  right: 100%;
  animation: duck-jumping infinite 0.07s alternate 27.3s,
    duck-brunette-run forwards 2s linear 27.3s,
    duck-crushing forwards 0.2s 29.3s, entity-remove forwards 0s 32s;
}
.action__duck--ginger {
  right: 100%;
  animation: duck-jumping infinite 0.07s alternate 34s,
    duck-ginger-run forwards 0.7s alternate 5 34s;
}
.action__monster {
  height: 10%;
  width: 10%;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-image: url("../img/monster.webp");
  animation: monster-zoom forwards 0.5s 18s,
    monster-zoom forwards reverse 0.5s 26s, monster-zoom forwards 0.5s 30s,
    monster-zoom forwards reverse 0.5s 33.5s;
}

@keyframes blonde-first-show {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@keyframes brunette-first-show {
  from {
    left: 100%;
  }
  to {
    left: 10%;
  }
}
@keyframes ginger-first-show {
  from {
    left: 100%;
  }
  to {
    left: 20%;
  }
}

@keyframes apostle-show {
  to {
    left: 70%;
  }
}

@keyframes duck-jumping {
  to {
    bottom: 10%;
  }
}

@keyframes duck-first-run {
  to {
    left: -20%;
  }
}

@keyframes duck-blonde-run {
  from {
    right: 100%;
  }
  to {
    right: 40%;
  }
}
@keyframes duck-brunette-run {
  from {
    right: 100%;
  }
  to {
    right: 55%;
  }
}

@keyframes duck-ginger-run {
  from {
    right: 100%;
  }
  to {
    right: -20%;
  }
}

@keyframes duck-explosion {
  to {
    bottom: 0;
    background-image: url("../img/explosion.gif");
  }
}
@keyframes duck-crushing {
  to {
    bottom: 0;
    transform: scaleY(0.2);
  }
}

@keyframes lightning-strike {
  0% {
    visibility: visible;
  }
  33% {
    visibility: hidden;
  }
  66% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes blonde-walking-plot {
  to {
    left: 40%;
  }
}

@keyframes brunette-walking-plot {
  to {
    left: 55%;
  }
}

@keyframes ginger-walking-plot {
  20% {
    left: 80%;
    transform-origin: center top;
    transform: rotate(-90deg);
  }
  40% {
    left: 60%;
    transform-origin: center bottom;
    transform: rotate(90deg);
  }
  60% {
    left: 40%;
    transform-origin: center top;
    transform: rotate(-90deg);
  }
  80% {
    left: 30%;
    transform-origin: center bottom;
    transform: rotate(90deg);
  }
  100% {
    left: 30%;
    transform-origin: center;
    transform: rotate(0deg);
  }
}

@keyframes brunette-fall {
  to {
    transform: rotate(-90deg);
  }
}
@keyframes blonde-walking-moves {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@keyframes brunette-walking-moves {
  100% {
    bottom: 5%;
  }
}
@keyframes set-blonde-walking-image {
  to {
    background-image: url("../img/blonde-walking.webp");
  }
}

@keyframes set-blonde-standing-image {
  to {
    background-image: url("../img/blonde-standing.webp");
  }
}
@keyframes set-brunette-walking-image {
  to {
    background-image: url("../img/brunette-walking.webp");
  }
}

@keyframes set-brunette-standing-image {
  to {
    background-image: url("../img/brunette-standing.webp");
  }
}
@keyframes set-ginger-walking-image {
  to {
    background-image: url("../img/ginger-walking.webp");
  }
}

@keyframes set-ginger-standing-image {
  to {
    background-image: url("../img/ginger-standing.webp");
  }
}
@keyframes monster-zoom {
  from {
    transform: scale(1);
    top: 0;
    left: 0;
  }
  to {
    transform: scale(10);
    top: 40%;
    left: 50%;
  }
}

@keyframes men1-show {
  0% {
    transform: rotate(0deg);
    right: 100%;
  }
  30% {
    transform: rotate(90deg);
    right: 10%;
  }
  100% {
    right: 30%;
    transform: rotate(0deg);
  }
}

@keyframes men2-show {
  0% {
    transform: rotate(0deg);
    right: 100%;
  }
  90% {
    transform: rotate(180deg);
    right: 70%;
  }
  100% {
    right: 50%;
    transform: rotate(0deg);
  }
}

@keyframes men3-show {
  0% {
    right: 100%;
  }
  100% {
    right: 70%;
  }
}

@keyframes entity-remove {
  to {
    display: none;
  }
}
@keyframes set-background-forest {
  to {
    background-image: url("../img/heaven-forest.webp");
  }
}
@keyframes set-background-road {
  to {
    background-image: url("../img/heaven-road.webp");
  }
}
@keyframes set-background-tree {
  to {
    background-image: url("../img/heaven-tree.webp");
  }
}
