@import url("fonts.css");
@import url("reset.css");

body {
  font-size: 0;
}

[class*="__container"] {
  max-width: 1262px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
}
.action {
  background: url("../img/heaven.webp") no-repeat center / cover;
  height: 100vh;
  position: relative;
}

.action__entity {
  animation: none;
}
.action__entity {
  position: absolute;
  background: no-repeat center / contain;
}
.action__blonde,
.action__brunette,
.action__ginger {
  height: 80%;
  width: 300px;
  animation: girl-first-show linear 1s forwards;
  bottom: 100%;
}

.action__blonde {
  background-image: url("../img/blonde-start.webp");
}
.action__brunette {
  background-image: url("../img/brunette-start.webp");
  left: 10%;
}
.action__ginger {
  background-image: url("../img/ginger-start.webp");
  left: 20%;
}

.action__apostle {
  height: 80%;
  width: 300px;
  background-image: url("../img/apostle.webp");
  left: 100%;
  bottom: 0;
  animation: apostle-show 1s linear 1s forwards;
}
.action__lightning {
  background-image: url("../img/lightning.webp");
  background-size: cover;
  height: 200px;
  width: 100px;
  visibility: hidden;
  left: 75%;
  top: -4%;
  animation: lightning-strike 0.5s 3s;
}
.action__duck {
  height: 20%;
  width: 20%;
  background-image: url("../img/duck.webp");
  left: 100%;
  bottom: 0;
  animation: duck-jumping infinite 0.07s alternate,
    duck-first-run 1s linear forwards 5s;
}
.action__monster {
  height: 10%;
  width: 10%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-image: url("../img/monster.webp");
}
@keyframes girl-first-show {
  to {
    bottom: 0;
  }
}

@keyframes apostle-show {
  to {
    left: 70%;
    bottom: 0;
  }
}

@keyframes duck-jumping {
  to {
    bottom: 10%;
  }
}
@keyframes duck-first-run {
  to {
    left: -20%;
  }
}
@keyframes lightning-strike {
  0% {
    visibility: visible;
  }
  33% {
    visibility: hidden;
  }
  66% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
