%title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.title-section {
  @extend %title;
  @include adaptiveValue("font-size", 40, 30);
  font-weight: 700;
  line-height: 1.21;
  &--white {
    color: #fff;
  }
  &--margin {
    &:not(:last-child) {
      margin-bottom: toEm(16, 40);
    }
  }
}
.decorated-subtitle {
  color: #37393f;
  font-size: toRem(18);
  font-weight: 500;
  display: flex;
  gap: toRem(6);
  &--white {
    color: #fff;
  }
  &::before {
    content: "";
    width: toEm(12);
    height: toEm(12);
    flex-shrink: 0;
    background-color: #40ddb6;
    margin-top: toRem(3);
  }
  &--margin {
    &:not(:last-child) {
      margin-bottom: toEm(16, 18);
    }
  }
}

.link-button {
  padding: toRem(22) toRem(27);
  background-color: #6b77e5;
  color: #fff;
  font-size: toRem(18);
  font-weight: 600;
  text-transform: capitalize;
  transition: background-color 0.2s;
  @media (any-hover: hover) {
    &:hover {
      background-color: #626dd0;
    }
  }
  &:active {
    background-color: #515aad;
  }
  &--black {
    background-color: #37393f;
    color: #fff;
    padding: toRem(21) toRem(43);
    @media (max-width: toEm(400)) {
      padding: toRem(20);
    }
  }
}
.green {
  color: #40ddb6;
}
