@use "sass:math";

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1220;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

@import "_reset.scss";
@import "_fonts.scss";
@import "_functions.scss";
@import "_common.scss";

body {
  font-family: "Inter", sans-serif;
  background-color: #333;
  font-size: toRem(14);
}

[class*="__container"] {
  max-width: #{$containerWidth}px;
  margin: 0 auto;
  padding-left: toRem(15);
  padding-right: toRem(15);
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.page {
  flex-grow: 1;
}
@import "_header.scss";
@import "_footer.scss";
