@use "sass:math";

@import "_reset.scss";
@import "_fonts.scss";
@import "_functions.scss";

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1220;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;

@import "_common.scss";
body {
  font-family: "Inter", sans-serif;
  font-size: toRem(18);
  color: #7d7d7d;
  .menu-open & {
    overflow: hidden;
  }
}

[class*="__container"] {
  max-width: #{$containerWidth}px;
  margin: 0 auto;
  padding-left: toRem(15);
  padding-right: toRem(15);
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
@import "_header.scss";
.page {
  flex-grow: 1;
  &__section {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 100, 40);
    }
  }
}

.hero {
  min-height: calc(100svh - toRem(188));
  @media (max-width: toEm(1088)) {
    min-height: calc(100svh - toRem(78));
  }
  position: relative;
  display: flex;
  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    flex: 0 0 toRem(829);
    @media (max-width: toEm(991.98)) {
      flex-basis: 100%;
    }
    padding: toRem(15);
    background-color: rgba(55, 57, 63, 0.9);
  }
  &__details {
    max-width: toRem(529);
  }
  &__header {
    &__title {
      @include adaptiveValue("font-size", 60, 30);
    }
    &__subtitle {
      margin-bottom: toEm(10, 18);
    }
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  &__text {
    color: #b9b9b9;
    font-size: toRem(18);
    font-style: normal;
    font-weight: 500;
    line-height: 1.46;
    &:not(:last-child) {
      margin-bottom: toRem(35);
    }
    p {
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
  }

  &__actions {
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
    display: flex;
    flex-wrap: wrap;
    gap: toRem(30);
    align-self: start;
    @media (max-width: toEm(470)) {
      align-self: center;
    }
  }

  &__link-button {
    background-color: #40ddb6;
    color: #37393f;
    &:hover {
      background-color: #39c2a0;
    }
    &:active {
      background-color: #31a88b;
    }
  }
}

.video-link {
  display: flex;
  align-items: center;
  gap: toRem(10);
  &__icon {
    width: toRem(60);
    height: toRem(60);
    transition: transform 0.2s;
  }
  &__text {
    flex-shrink: 0;
    color: #fff;
    font-size: toRem(18);
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s;
  }
  &:hover {
    .video-link__icon {
      transform: scale(0.9);
    }
    .video-link__text {
      text-decoration-color: inherit;
    }
  }
}

.side-about {
  @media ((max-width: toEm(940)) and ((min-width: toEm(500)))) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: toRem(20);
  }
  &__img {
    aspect-ratio: 408/446;
    width: 100%;
    min-width: toRem(250);
    &:not(:last-child) {
      margin-bottom: toRem(22);
    }
  }

  &__title {
    @extend %title;
    @include adaptiveValue("font-size", 30, 20);
    line-height: 1.21;
    text-transform: capitalize;
    &:not(:last-child) {
      margin-bottom: toEm(13, 30);
    }
  }

  &__text {
    line-height: 1.46;
    p {
      &:not(:last-child) {
        margin-bottom: toRem(15);
      }
    }
    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }

  &__link {
    color: #37393f;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: toRem(2);
      background-color: #37393f;
      position: absolute;
      top: 100%;
      right: 0;
      transition: width 0.3s;
    }
    @media (any-hover: hover) {
      &:hover {
        &::after {
          width: 0;
        }
      }
    }
  }
}

.about {
  display: grid;
  grid-template-columns: toRem(408) 1fr;
  @media (max-width: toEm(940)) {
    grid-template-columns: 1fr;
  }
  @include adaptiveValue("gap", 131, 30);
  &__main {
    max-width: toRem(673);
  }
  @media (max-width: toEm(940)) {
    &__side {
      order: 2;
    }
    &__main {
      order: 1;
    }
  }
  &__img {
    aspect-ratio: 408/446;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: toRem(22);
    }
  }

  &__header {
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
  }

  &__text {
    line-height: 1.46;
    &:not(:last-child) {
      margin-bottom: toRem(20);
    }
    p {
      &:not(:last-child) {
        margin-bottom: toRem(15);
      }
    }
  }

  &__list {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 46, 20);
    }
  }

  &__benefits {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(toRem(295), 1fr));
    gap: toRem(21);
    &:not(:last-child) {
      margin-bottom: toRem(37);
    }
  }

  &__benefit {
  }
}

.list-about {
  &__item {
    color: #37393f;
    font-family: "Poppins", sans-serif;
    font-size: toRem(20);
    display: flex;
    padding-top: toRem(5);
    gap: toRem(8);
    &:not(:last-child) {
      margin-bottom: toRem(29);
    }
    &::before {
      content: "";
      height: toRem(27);
      width: toRem(27);
      background: url("../img/icons/list-marker.svg") no-repeat center / contain;
      flex-shrink: 0;
      margin-top: toRem(-5);
    }
  }
}
.benefit-card {
  padding: toRem(32);
  border: toRem(1) solid #e3e3e3;
  display: flex;
  gap: toRem(19);
  &__img {
    width: toRem(39);
    height: toRem(39);
  }

  &__title {
    @extend %title;
    font-size: toRem(20);
    &:not(:last-child) {
      margin-bottom: toRem(8);
    }
  }

  &__text {
    font-size: toRem(16);
    line-height: 1.35;
    p {
      &:not(:last-child) {
        margin-bottom: toRem(5);
      }
    }
  }
}
.logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  @media (max-width: toEm(700)) {
    grid-template-columns: repeat(3, 1fr);
  }
  align-items: center;
  @include adaptiveValue("column-gap", 115, 10);
  row-gap: toRem(20);
  flex-wrap: wrap;
  &__item {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
  @media (min-width: toEm(500)) {
    &--padding {
      padding: 0 toRem(37);
    }
  }
}

.solutions {
  &__header {
    display: flex;
    gap: toRem(20);
    @media (max-width: toEm(400)) {
      flex-direction: column;
    }
    align-items: center;
    &:not(:last-child) {
      margin-bottom: toEm(40, 40);
    }
  }
  &__text {
    flex-grow: 1;
    @media (max-width: toEm(400)) {
      text-align: center;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: toRem(42) toRem(36);
    @media (max-width: toEm(891)) {
      grid-template-columns: 1fr;
    }
  }
}

.item-solutions {
  &__prewiew {
    position: relative;
    &:not(:last-child) {
      margin-bottom: toRem(19);
    }
  }

  &__picture {
    position: relative;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 592/363;
  }

  &__details {
    width: 100%;
  }

  &__title {
    @extend %title;
    line-height: 1.27;
    font-size: toRem(30);
    &:not(:last-child) {
      margin-bottom: toRem(13);
    }
    @media (max-width: toEm(500)) {
      font-size: toRem(20);
    }
  }

  &__text {
    line-height: 1.46;
    &:not(:last-child) {
      margin-bottom: toRem(26);
    }
    & p:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  &__link {
    color: #6b77e5;
    font-weight: 600;
    text-transform: capitalize;
    transition: color 0.2s;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
        color: #40ddb6;
      }
    }
  }
}
.details-item-solutions {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toRem(5);
    padding: toRem(22) toRem(10);
    background-color: #40ddb6;
    @media (max-width: toEm(991.98)) {
      font-size: toRem(16);
    }
    @media (max-width: toRem(441)) {
      padding: toRem(10);
      font-size: toRem(14);
    }
    &:not(:last-child) {
      border-right: toRem(2) solid #2d9e82;
    }
    &--purple {
      background-color: #6b77e5;
      &:not(:last-child) {
        border-right: none;
      }
    }
  }

  &__text {
    color: #208068;
    text-transform: capitalize;
    .details-item-solutions__item--purple & {
      color: #fff;
      font-weight: 600;
    }
  }

  &__icon {
    max-width: toRem(14);
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}
.footer {
  height: toRem(50);
}
